.login{
	max-width: 720px;
	margin:auto;
	margin-top: -20px;
}
.login__logo{
	max-width: 100%;
	width: 350px;
}
.login__input{
	max-width: 100%;
	width: 350px;
	margin:auto;
	margin-top:15px;
	margin-bottom:15px;
	height:50px;
	border: 2px solid #eee !important;
}
.login__input:focus::placeholder{
	color: #4dabf7;
}