.call__image{
	max-width: 100%;
	width: 350px;
	margin: 20px;
}
.call__start-img{
	max-width: 100%;
	width: 320px;
	margin:20;
}
.call__start-modal{
	text-align: center;
}
.inline__block{display: inline-block;}
.img-responsive{
	width: 320px;
	max-width: 100%;
}
a .disabled{
	opacity: 0.5 !important;
	pointer-events: none !important;
}
.history__section{
	width: 768px;
	max-width: 100%;
	margin: auto;
	text-align: left;
	position: relative;
	margin-top: 30px;
}